.navigation-panel{
    height: 100%;
    position: fixed;
    top: 0;
    width: 20%;
    background: #0B5345;
    color: white;
    z-index: 1;
}
.title-nav{
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #C70039;
    opacity: 0.5;
}
.menu-item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
}
.menu-item:hover{
    cursor: pointer;
    border: 1px solid #1B2631;
    height: 2.375rem;
}
.menu-item.selected-menu:hover{
    border-color: white;
}
.selected-menu{
    background: #1B2631 ;
}
.water-mark{
    position: absolute;
    bottom: 2rem;
    opacity: .5;
    font-size: 12px;
    display: flex;
    justify-content: center;
    width: 100%;
}